/* by Johnkegd */	  
	  
.containerloader{
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
	margin-left:50%;
	margin-top:2em;

	
}

.containerloader span{
    font-family: arial;
    font-size: 35px;
    color: rgba(255,255,255,.1);
    display: inline-block;
    transition: all .5s;
    animation: animate 2s infinite;
}


.containerloader span:nth-child(1)
{
    animation-delay: .1s;
}

.containerloader span:nth-child(2)
{
    animation-delay: .2s;
}

.containerloader span:nth-child(3)
{
    animation-delay: .3s;
}

.containerloader span:nth-child(4)
{
    animation-delay: .4s;
}

.containerloader span:nth-child(5)
{
    animation-delay: .5s;
}

.containerloader span:nth-child(6)
{
    animation-delay: .6s;
}

.containerloader span:nth-child(7)
{
    animation-delay: .7s;
}

.containerloader span:nth-child(8)
{
    animation-delay: .8s;
}


@keyframes animate{
    0%{
        color: rgba(130,100,130,200);
        transform: translateY(0);
        margin-left: 0;
    }
    25%{
        color: rgba(199,145,34,0.8);
        transform: translateY(-15px);
        margin-left: 10;
        text-shadow: 0 15px 5px rgba(0,0,0,1);
    }
    100%{
        color: transparent;
        transform: translateY(0);
    }
}

.gg{
    
    margin-left:46%;
    margin-right:45%;
}

/* johnkegd */
.loader2{
	position: absolute;
    top: 45%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.loader2 span{
    font-family: arial;
    font-size: 35px;
    color: rgba(255,255,255,.1);
    display: inline-block;
    transition: all .5s;
    animation: animate 2s infinite;
}
.loader2 span:nth-child(1)
{
	
    animation-delay: .1s;
}

.loader2 span:nth-child(2)
{
    animation-delay: .2s;
}

.loader2 span:nth-child(3)
{
    animation-delay: .3s;
}
.cositas{
	background:orange;
	width:100%
	border:1px solid black;
	margin-bottom:5em;
}